/*Tipografias primero*/
/*
font-family: "STIX Two Text", serif;
font-family: "Lato", sans-serif;
*/
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=STIX+Two+Text:ital,wght@0,400..700;1,400..700&display=swap");
/*RESETEO*/
* {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif; }

/*----- Nav -------*/
nav {
  width: 100%;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  background-color: #241503;
  padding-bottom: 5px; }
  nav .navbar-collapse {
    justify-content: flex-end; }
  nav .container-fluid {
    background-color: #241503;
    display: inline-block;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase; }
  nav .logo {
    height: 90px; }
  nav .navbar-nav a {
    color: antiquewhite;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase; }
  nav .navbar-nav a:hover {
    color: #241503;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    background-color: antiquewhite; }
  nav li {
    display: inline-block;
    padding: 10px;
    background-color: #241503; }
    nav li a {
      color: antiquewhite;
      padding: 7px;
      font-weight: bold;
      text-decoration: none;
      text-transform: uppercase; }

body {
  display: flex;
  flex-wrap: wrap;
  background-color: antiquewhite; }

/*---- Main General ----*/
main {
  padding: 20px;
  font-family: "STIX Two Text", serif;
  background-color: antiquewhite;
  min-height: 90vh; }

.main-index {
  display: flex;
  margin: 0px;
  text-align: center;
  color: #241503;
  flex-direction: column;
  flex-wrap: nowrap;
  color: #241503; }
  .main-index h1, .main-index h3 {
    padding: 20px; }
  .main-index ul {
    text-align: right; }
  .main-index .servicios {
    padding: 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center; }
    .main-index .servicios h4 {
      padding: 30px; }
  .main-index .iconos {
    border-radius: 15px;
    box-shadow: 3px 3px 5px #241503; }
  .main-index .iconos:hover {
    border-radius: 15px;
    box-shadow: 4px 4px 7px #241503; }
  .main-index .carrusel {
    margin-right: 30%;
    margin-left: 30%; }
    .main-index .carrusel .carousel-inner {
      padding: 0; }

.main-historia {
  padding: 20px;
  text-align: center;
  color: #241503;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  height: auto; }
  .main-historia .historia {
    font-style: italic;
    text-align: center;
    max-width: 80%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center; }
  .main-historia .titulo {
    text-decoration: underline; }
  .main-historia .bajada {
    margin: 10px;
    font-size: 1rem;
    max-width: 80%; }
  .main-historia .taller {
    display: flex;
    height: 30%;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap; }
    .main-historia .taller img {
      border-radius: 8px;
      margin: 10px;
      height: 30vw; }

.main-servicios {
  text-align: center;
  color: #241503; }
  .main-servicios h1, .main-servicios h4 {
    padding: 20px; }
  .main-servicios h2 {
    margin: 30px;
    text-decoration: underline;
    font-weight: bold; }
  .main-servicios .trabajos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }

.carousel-inner {
  color: #241503;
  border-radius: 10px;
  background-color: #f3d6be;
  padding: 50px; }
  .carousel-inner li {
    list-style: none; }
    .carousel-inner li h3 {
      font-size: x-large;
      text-decoration: underline; }
    .carousel-inner li a {
      text-align: center; }

.img-trabajos {
  height: 300px;
  width: 300px;
  border-radius: 5px; }

.main-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  color: #241503;
  width: 100%; }
  .main-form .formulario {
    display: flex;
    flex-direction: column;
    margin: 20px;
    grid-area: 1 / 1 / 5 / 2; }
    .main-form .formulario h6 {
      margin: 10px; }
  .main-form .datos {
    margin: 20px;
    grid-area: 1 / 2 / 5 / 3; }
    .main-form .datos .informacion {
      display: flex;
      flex-direction: column; }
      .main-form .datos .informacion .inform {
        display: flex;
        flex-direction: row;
        align-items: center; }
        .main-form .datos .informacion .inform h3, .main-form .datos .informacion .inform h4 {
          margin-left: 10px;
          padding: 10px; }
  .main-form .mapa {
    grid-area: 5 / 1 / 6 / 3; }

.main-turno {
  color: #241503;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: 1fr;
  width: 100%;
  min-height: 80vh; }
  .main-turno h5 {
    margin-top: 15px;
    margin-bottom: 15px; }
  .main-turno .soli-turno {
    grid-area: 1 / 1 / 2 / 5; }
  .main-turno .img-turno {
    grid-area: 1 / 8 / 2 / 7;
    border-radius: 8px;
    margin-top: 20px;
    margin-bottom: 20px; }
  .main-turno .soli-turno {
    margin: 20px; }

.button {
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 5px;
  border-radius: 8px;
  background-color: #241503;
  color: #f3d6be; }

.button:hover {
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 5px;
  border-radius: 8px;
  color: #241503;
  background-color: #f3d6be; }

.wapp {
  position: fixed;
  top: 90%;
  left: 95%;
  height: 50px;
  border-radius: 50%;
  animation: tada;
  animation-duration: 1s; }

/*---- Footer ----*/
footer {
  display: flex;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #241503;
  color: antiquewhite;
  align-content: flex-end;
  align-items: center; }

footer h6 {
  margin: 7px; }

/*---- RESPONSIVE ----*/
/* MOBILE LAST */
@media (max-width: 800px) {
  .main-index {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
    .main-index .carrusel {
      margin-right: 5%;
      margin-left: 5%; }
      .main-index .carrusel .carousel-inner {
        padding: 0; }
    .main-index .servicios {
      padding: 30px;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      flex-direction: column;
      flex-wrap: nowrap; }
  .main-servicios {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap; }
    .main-servicios h2 {
      margin: 30px;
      text-decoration: underline;
      font-weight: bold; }
    .main-servicios .trabajos {
      display: flex;
      flex-wrap: wrap;
      justify-content: center; }
    .main-servicios li h3 {
      font-size: x-large;
      text-decoration: underline; }
    .main-servicios li a {
      text-align: center; }
  .main-form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column; }
  .main-turno {
    display: flex;
    flex-wrap: wrap; }
  .img-turno {
    width: 100%; }
  footer h6 {
    font-size: 0.75rem; }
  .main-historia {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap; }
    .main-historia .historia {
      display: flex;
      flex-wrap: nowrap;
      justify-content: center; }
    .main-historia .taller {
      display: flex;
      flex-wrap: nowrap;
      flex-direction: column;
      justify-content: flex-start; }
      .main-historia .taller img {
        height: 30%;
        border-radius: 8px;
        margin: 10px;
        height: 55vw; }
  .wapp {
    position: fixed;
    top: 90%;
    left: 80%;
    height: 50px;
    border-radius: 50%; } }
