/*Tipografias primero*/
/*
font-family: "STIX Two Text", serif;
font-family: "Lato", sans-serif;
*/
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=STIX+Two+Text:ital,wght@0,400..700;1,400..700&display=swap');

/*RESETEO*/

* {
    margin: 0;
    padding: 0;
    font-family: "Lato", sans-serif;
    
    
}
body {
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(121, 106, 84);

}

/*----- Nav -------*/
nav {
    width: 100%;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    background-color: #241503;
    padding-bottom: 5px;

    .container-fluid {
        background-color: #241503;
        display: inline-block;
        font-weight: bold;
        text-decoration: none;
        text-transform: uppercase;

    }

    .logo {
        height: 90px;
    }

    .navbar-nav a {
        color: rgb(243, 214, 190);
        font-weight: bold;
        text-decoration: none;
        text-transform: uppercase;
    }

    .navbar-nav a:hover {
        color: rgb(243, 214, 190);
        font-weight: bold;
        text-decoration: none;
        text-transform: uppercase;
        background-color: #5a3d1a;
    }

    li {
        display: inline-block;
        padding: 10px;
        background-color: #241503;

        a {
            color: rgb(243, 214, 190);
            padding: 7px;
            font-weight: bold;
            text-decoration: none;
            text-transform: uppercase;

        }

    }
}

nav li a:hover {
    color: rgb(243, 214, 190);
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    background-color: #5a3d1a;

}

/*---- Main General ----*/
main {
    padding: 20px;
    font-family: "STIX Two Text", serif;
    background-color: rgb(121, 106, 84);

    ul {
        text-align: right;

    }

    .servicios {
        padding: 50px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        h4 {
            padding: 30px;
        }
    }

    .iconos {
        border-radius: 15px;
        box-shadow: 3px 3px 5px rgb(243, 214, 190);
    }

    .iconos:hover {
        border-radius: 15px;
        box-shadow: 4px 4px 7px rgb(243, 214, 190);
    }

}

.main-index {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    margin: 0px;
    text-align: center;
    color: rgb(243, 214, 190);

}

.historia {
    font-style: italic;
    text-align: center;
}

.main-historia {
    padding: 20px;
    text-align: center;
    color: rgb(243, 214, 190);
    width: 100%;
}

.titulo {
    text-decoration: underline;
}

.bajada {
    margin: 10px;
    font-size: 1rem;
}

.historia {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: 1fr;

}

.texto {
    grid-area: 1 / 1 / 2 / 5;
}

.taller {
    grid-area: 1 / 5 / 2 / 10;
}

.taller {
    margin-left: 30px;
    height: 70%;
}

.main-servicios {
    text-align: center;
    color: rgb(243, 214, 190);
}

.img-trabajos {
    height: 300px;
    width: 300px;
    border-radius: 5px;
}

.main-form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    color: rgb(243, 214, 190);
    width: 100%;

    .formulario {
        display: flex;
        flex-direction: column;
        margin: 20px;
        grid-area: 1 / 1 / 5 / 2;

        h6 {
            margin: 10px;
        }
    }

    .datos {
        margin: 20px;
        grid-area: 1 / 2 / 5 / 3;
    }

    .mapa {
        grid-area: 5 / 1 / 6 / 3;
    }

}

.main-turno {
    color: rgb(243, 214, 190);
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 1fr;
    width: 100%;

    h5{
        margin-top: 15px;
        margin-bottom: 15px;

    }

    .soli-turno {
        grid-area: 1 / 1 / 2 / 5;
    }

    .img-turno {
        grid-area: 1 / 8 / 2 / 7;
        border-radius: 8px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .soli-turno {
        margin: 20px;
    }
}

.button {
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 5px;
    border-radius: 8px;
    background-color: #241503;
    color: rgb(243, 214, 190);
}

.button:hover {
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 5px;
    border-radius: 8px;
    color: #241503;
    background-color: rgb(243, 214, 190);
}

.wapp {
    position: fixed;
    top: 90%;
    left: 95%;
    height: 50px;
    border-radius: 50%;


}

/*---- Footer ----*/
footer {
    display: flex;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #241503;
    color: rgb(243, 214, 190);
    align-content: flex-end;
    align-items: center;
}

footer h6 {
    margin-left: 7px;
}


/*---- RESPONSIVE ----*/
/* MOBILE LAST */
@media (max-width: 800px) {
    .main-index {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .servicios {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .main-form {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .main-turno {
        display: flex;
        flex-wrap: wrap;
    }

    .img-turno {
        width: 100%;

    }

    footer h6 {
        font-size: 0.75rem;

    }

    .main-historia {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .historia {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .taller {
        height: 240px;
        margin: 0px;
        border-radius: 8px;
    }

    .wapp {
        position: fixed;
        top: 90%;
        left: 80%;
        height: 50px;
        border-radius: 50%;
    }
}