/*Tipografias primero*/
/*
font-family: "STIX Two Text", serif;
font-family: "Lato", sans-serif;
*/
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=STIX+Two+Text:ital,wght@0,400..700;1,400..700&display=swap');

/*RESETEO*/
@import "./utilities/colores";

* {
    margin: 0;
    padding: 0;
    font-family: "Lato", sans-serif;


}

@import "./sections/header";

body {
    display: flex;
    flex-wrap: wrap;
    background-color: $crema;

}

/*---- Main General ----*/
main {
    padding: 20px;
    font-family: "STIX Two Text", serif;
    background-color: $crema;


}

@import "./sections/main-index";

@import "./sections/main-institucional";

@import "./sections/main-servicios";

@import "./sections/main-contacto";

@import "./sections/main-turno";

@import "./utilities/botones";

@import "./utilities/wapp";

/*---- Footer ----*/
@import "./sections/footer";


/*---- RESPONSIVE ----*/
/* MOBILE LAST */
@media (max-width: 800px) {
    .main-index {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        .carrusel{
            margin-right: 5%;
            margin-left: 5%;
    
        }
        .servicios {
            padding: 30px;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            flex-direction: column;
            flex-wrap: nowrap;
        }
    }
    
    .main-servicios {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;

        h2 {
            margin: 30px;
            text-decoration: underline;
            font-weight: bold;
        }

        .trabajos {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }

        li {
            h3 {
                font-size: x-large;
                text-decoration: underline;
            }

            a {
                text-align: center;
            }

        }


    }

    .main-form {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .main-turno {
        display: flex;
        flex-wrap: wrap;
    }

    .img-turno {
        width: 100%;

    }

    footer h6 {
        font-size: 0.75rem;

    }

    .main-historia {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;

        .historia {
            display: flex;
            flex-wrap: nowrap;
            justify-content: center;
        }


        .taller {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            
            img {
                height: 40%;
                border-radius: 8px;
                margin: 10px;
            }

        }
    }


    .wapp {
        position: fixed;
        top: 90%;
        left: 80%;
        height: 50px;
        border-radius: 50%;
    }
}