footer {
    display: flex;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #241503;
    color: rgb(243, 214, 190);
    align-content: flex-end;
    align-items: center;
}

footer h6 {
    margin-left: 7px;
}