footer {
    display: flex;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: $marron;
    color: $crema;
    align-content: flex-end;
    align-items: center;
}

footer h6 {
    margin: 7px;
}