/*----- Nav -------*/
nav {
    width: 100%;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    background-color: $marron;
    padding-bottom: 5px;

    .navbar-collapse{
        justify-content: flex-end;
    }

    .container-fluid {
        background-color: $marron;
        display: inline-block;
        font-weight: bold;
        text-decoration: none;
        text-transform: uppercase;

    }

    .logo {
        height: 90px;
    }

    .navbar-nav a {
        color: $crema;
        font-weight: bold;
        text-decoration: none;
        text-transform: uppercase;
    }

    .navbar-nav a:hover {
        color: $marron;
        font-weight: bold;
        text-decoration: none;
        text-transform: uppercase;
        background-color: $crema;
    }

    li {
        display: inline-block;
        padding: 10px;
        background-color: $marron;

        a {
            color: $crema;
            padding: 7px;
            font-weight: bold;
            text-decoration: none;
            text-transform: uppercase;

        }

    }
}


