
.main-index {
    display: flex;
    margin: 0px;
    text-align: center;
    color: $marron;
    flex-direction: column;
    flex-wrap: nowrap;
    color: $marron;

    h1, h3{
        padding: 20px;
    }


    
    ul {
        text-align: right;
        
    }
    

    .servicios {
        padding: 30px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    
        h4 {
            padding: 30px;
        }
    }
    
    .iconos {
        border-radius: 15px;
        box-shadow: 3px 3px 5px $marron;
    }
    
    .iconos:hover {
        border-radius: 15px;
        box-shadow: 4px 4px 7px $marron;
    }

    .carrusel{
        margin-right: 30%;
        margin-left: 30%;
        .carousel-inner{
            padding: 0;
        }

    }
}