.main-form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    color: $marron;
    width: 100%;

    .formulario {
        display: flex;
        flex-direction: column;
        margin: 20px;
        grid-area: 1 / 1 / 5 / 2;

        h6 {
            margin: 10px;
        }
    }

    .datos {
        margin: 20px;
        grid-area: 1 / 2 / 5 / 3;



        .informacion {
            display: flex;
            flex-direction: column;

            .inform {
                display: flex;
                flex-direction: row;
                align-items: center;

                h3, h4{
                    margin-left: 10px;
                    padding: 10px;
                }
            }
        }
    }

    .mapa {
        grid-area: 5 / 1 / 6 / 3;
    }

}