.main-historia {
    padding: 20px;
    text-align: center;
    color: $marron;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;

    .historia {
        font-style: italic;
        text-align: center;
        max-width: 80%;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
    }

    .titulo {
        text-decoration: underline;
    }

    .bajada {
        margin: 10px;
        font-size: 1rem;
        max-width: 80%;
    }

    .historia {
   
    }

    .taller {
        display: flex;
        height: 30%;
        flex-direction: row;
        justify-content: center;
        flex-wrap: nowrap;

        img {
            border-radius: 8px;
            margin: 10px;
        }
    }
}