.main-servicios {
    text-align: center;
    color: $marron;
    h1, h4{
        padding: 20px;
    }

    h2 {
        margin: 30px;
        text-decoration: underline;
        font-weight: bold;
    }
    .trabajos {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

    }


}

.carousel-inner {
    color: $marron;
    border-radius: 10px;
    background-color: $crema-oscuro;
    padding: 50px;

    li {
        list-style: none;
        h3 {
            font-size: x-large;
            text-decoration: underline;
        }

        a {
            text-align: center;
        }
    }
}

.img-trabajos {
    height: 300px;
    width: 300px;
    border-radius: 5px;
}