.main-servicios {
    text-align: center;
    color: rgb(243, 214, 190);

    h2 {
        margin: 30px;
        text-decoration: underline;
        font-weight: bold;
    }
    .trabajos {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

    }


}

.carousel-inner {
    color: #241503;
    border-radius: 10px;
    background-color: antiquewhite;
    padding: 50px;

    li {
        h3 {
            font-size: x-large;
            text-decoration: underline;
        }

        a {
            text-align: center;
        }
    }
}

.img-trabajos {
    height: 300px;
    width: 300px;
    border-radius: 5px;
}