.main-historia {
    padding: 20px;
    text-align: center;
    color: $marron;
    width: 100%;

    .historia {
        font-style: italic;
        text-align: center;
    }

    .titulo {
        text-decoration: underline;
    }

    .bajada {
        margin: 10px;
        font-size: 1rem;
    }

    .historia {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
    }

    .taller {
        display: flex;
        height: 30%;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;

        img {
            border-radius: 8px;
            margin: 10px;
        }
    }
}