.button {
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 5px;
    border-radius: 8px;
    background-color: #241503;
    color: rgb(243, 214, 190);
}

.button:hover {
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 5px;
    border-radius: 8px;
    color: #241503;
    background-color: rgb(243, 214, 190);
}